*.pyc
__pycache__/
.cache/
*.pyo
*.pyd
*.swp
*.swo
*.env
*.venv
*.bak
venv/
ENV/
env/
env.bak/
venv.bak/

*.log
db.sqlite3
media/
staticfiles/
static/*
!static/js/
!static/배경.jpg
!static/z.png

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.sqlite3
*.db

/dist/
/build/
/node_modules/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/